{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}

<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      <li>
        {%- if link.links != blank -%}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
              <summary
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset"
              >
                <span
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                </span>
                {{- 'icon-caret.svg' | inline_asset_content -}}
              </summary>
              <div
                id="MegaMenu-Content-{{ forloop.index }}"
                class="mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
                tabindex="-1"
              >
                <img class="mega-menu__icon" src="https://cdn.shopify.com/s/files/1/0557/0884/4170/files/HUNDE_mega-menu.svg" width="100%" height="100%">
                <ul
                  class="mega-menu__list page-width-mega{% if link.levels == 1 %} mega-menu__list--condensed{% endif %}"
                  role="list"
                >
                  <div class="mega-menu__side">
                    <h2 class="h1">Shop the Range</h2>
                    <p>Meal balancers and functional toppers for dogs + cats</p>
                    {%- for childlink in link.links -%}
                      <li>
                        <a
                          id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                          href="{{ childlink.url }}"
                          class="button--arrow {% if childlink.current %} mega-menu__link--active{% endif %}"
                          {% if childlink.current %}
                            aria-current="page"
                          {% endif %}
                        >
                          {{ childlink.title | escape }} <span class="svg-wrapper">{{ 'icon-arrow-black.svg' | inline_asset_content }}</span>
                        </a>
                      </li>
                    {%- endfor -%}
                  </div>
                  
                  <div class="mega-menu__collections collection-list-wrapper">
                    <ul class="collection-list contains-card contains-card--collection contains-card--standard grid grid--4-col-desktop grid--2-col-tablet-down collection-list--4-items" id="Slider-template--17348005724298__collection_list_wk6pQ6" role="list">
                      <li id="Slide-template--17348005724298__collection_list_wk6pQ6-1" class="collection-list__item grid__item scroll-trigger animate--slide-in" data-cascade="" style="--animation-order: 0;">
                        <div class="card-collection card-wrapper animate-arrow collection-card-wrapper">
                          <div class="card card--standard card--media" style="--ratio-percent: 100%;">
                            <div class="card__inner color-scheme-1 gradient ratio" style="--ratio-percent: 100%;">
                              <div class="card__media">
                                <div class="media media--transparent media--hover-effect">
                                  <img srcset="//hunde.com.au/cdn/shop/collections/HUNDE_MealBalancers.jpg?v=1727097524&amp;width=165 165w,//hunde.com.au/cdn/shop/collections/HUNDE_MealBalancers.jpg?v=1727097524&amp;width=330 330w,//hunde.com.au/cdn/shop/collections/HUNDE_MealBalancers.jpg?v=1727097524 368w
                                    " src="//hunde.com.au/cdn/shop/collections/HUNDE_MealBalancers.jpg?v=1727097524&amp;width=1500" sizes="
                                      (min-width: 1100px) 333px,
                                      (min-width: 750px) calc((100vw - 10rem) / 2),
                                      calc(100vw - 3rem)
                                    " alt="Meal Balancers" height="368" width="368" loading="lazy" class="motion-reduce">
                                </div>
                              </div>
                            </div>
                            <div class="card__content">
                              <div class="card__information">
                                <h3 class="collection_card__heading">
                                  <a href="/collections/meal-balancers" class="full-unstyled-link">Meal Balancers</a>
                                </h3>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li id="Slide-template--17348005724298__collection_list_wk6pQ6-1" class="collection-list__item grid__item scroll-trigger animate--slide-in" data-cascade="" style="--animation-order: 0;">
                        <div class="card-collection card-wrapper animate-arrow collection-card-wrapper">
                          <div class="card card--standard card--media" style="--ratio-percent: 100%;">
                            <div class="card__inner color-scheme-1 gradient ratio" style="--ratio-percent: 100%;">
                              <div class="card__media">
                                <div class="media media--transparent media--hover-effect">
                                  <img srcset="//hunde.com.au/cdn/shop/collections/HUNDE_MealToppers.jpg?v=1727097513&amp;width=165 165w,//hunde.com.au/cdn/shop/collections/HUNDE_MealToppers.jpg?v=1727097513&amp;width=330 330w,//hunde.com.au/cdn/shop/collections/HUNDE_MealToppers.jpg?v=1727097513 368w
                                    " src="//hunde.com.au/cdn/shop/collections/HUNDE_MealToppers.jpg?v=1727097513&amp;width=1500" sizes="
                                      (min-width: 1100px) 333px,
                                      (min-width: 750px) calc((100vw - 10rem) / 2),
                                      calc(100vw - 3rem)
                                    " alt="Functional Toppers" height="368" width="368" loading="lazy" class="motion-reduce">
                                </div>
                              </div>
                            </div>
                            <div class="card__content">
                              <div class="card__information">
                                <h3 class="collection_card__heading">
                                  <a href="/collections/functional-toppers" class="full-unstyled-link">Meal Toppers</a>
                                </h3>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li id="Slide-template--17348005724298__collection_list_wk6pQ6-1" class="collection-list__item grid__item scroll-trigger animate--slide-in" data-cascade="" style="--animation-order: 0;">
                        <div class="card-collection card-wrapper animate-arrow collection-card-wrapper">
                          <div class="card card--standard card--media" style="--ratio-percent: 100%;">
                            <div class="card__inner color-scheme-1 gradient ratio" style="--ratio-percent: 100%;">
                              <div class="card__media">
                                <div class="media media--transparent media--hover-effect">
                                  <img srcset="//hunde.com.au/cdn/shop/collections/Dog.png?v=1725975158&amp;width=165 165w,//hunde.com.au/cdn/shop/collections/Dog.png?v=1725975158&amp;width=330 330w,//hunde.com.au/cdn/shop/collections/Dog.png?v=1725975158 490w
                                    " src="//hunde.com.au/cdn/shop/collections/Dog.png?v=1725975158&amp;width=1500" sizes="
                                      (min-width: 1100px) 333px,
                                      (min-width: 750px) calc((100vw - 10rem) / 2),
                                      calc(100vw - 3rem)
                                    " alt="Bundles" height="490" width="490" loading="lazy" class="motion-reduce">
                                </div>
                              </div>
                            </div>
                            <div class="card__content">
                              <div class="card__information">
                                <h3 class="collection_card__heading">
                                  <a href="/collections/bundles" class="full-unstyled-link">Shop&nbsp;Bundles</a>
                                </h3>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li id="Slide-template--17348005724298__collection_list_wk6pQ6-1" class="collection-list__item grid__item scroll-trigger animate--slide-in" data-cascade="" style="--animation-order: 0;">
                        <div class="card-collection card-wrapper animate-arrow collection-card-wrapper">
                          <div class="card card--standard card--media" style="--ratio-percent: 100%;">
                            <div class="card__inner color-scheme-1 gradient ratio" style="--ratio-percent: 100%;">
                              <div class="card__media">
                                <div class="media media--transparent media--hover-effect">
                                  <img srcset="//hunde.com.au/cdn/shop/collections/HUNDE_Extras.jpg?v=1725975018&amp;width=165 165w,//hunde.com.au/cdn/shop/collections/HUNDE_Extras.jpg?v=1725975018&amp;width=330 330w,//hunde.com.au/cdn/shop/collections/HUNDE_Extras.jpg?v=1725975018 490w
                                    " src="//hunde.com.au/cdn/shop/collections/HUNDE_Extras.jpg?v=1725975018&amp;width=1500" sizes="
                                      (min-width: 1100px) 333px,
                                      (min-width: 750px) calc((100vw - 10rem) / 2),
                                      calc(100vw - 3rem)
                                    " alt="Extras" height="490" width="490" loading="lazy" class="motion-reduce">
                                </div>
                              </div>
                            </div>
                            <div class="card__content">
                              <div class="card__information">
                                <h3 class="collection_card__heading">
                                  <a href="/collections/extras" class="full-unstyled-link">Shop&nbsp;Extras</a>
                                </h3>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  
                </ul>
              </div>
            </details>
          </header-menu>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>
